
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: 'Cabin', sans-serif;
    
    background-color: #000000;
    scroll-behavior: smooth;
}

/*--MOBILE FIRST--*/

/*--HEADER--*/

.capa {
    
    height: 100vh ;
    width: 100vw;
    overflow: hidden;
}

#barra {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color:#000;
    z-index: 1;
}

nav > a {
    background-color: rgba(0, 0, 0, 0);
    
}

#logo {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0);
    
    
    
}

#burg {
    margin: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

#itens {
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000000;
}
.menu-itens {
    display: block;
    margin: 90px 20px;
    font-size: 2.2rem;
    font-weight: bold;
    cursor: pointer;
}

.itens-info {
    font-size: 0.9rem;
    margin-top: 350px;
}

#itens li, a{
    
    list-style: none;
    text-decoration: none;
    
}

#menuTrabalho{
    display: none;
    flex-direction: column;
    gap: 20px;
    font-size: 2.2rem;
    font-weight: bold;
    position: absolute;
    top: 90px;
    left: 20px;
    padding: 20px;
    z-index: 4;
    
    
}

#close {
    margin: 20px;
    cursor: pointer;
}

.video-container {
    
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    
    
    
    
}

.videos{
    
    height: 100vh;
    width: 100vw;
    
    object-fit: cover;
    z-index: 0;
}  

.info-capa {
    position: absolute;
    bottom: 40px; 
    left: 20px; 
    width: 50vw;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff; 
    padding: 5px 10px;
    font-size: 14px; 
    
}
    
.info-capa > strong {
    background-color: rgba(0, 0, 0, 0);
}



/*--MAIN--*/

.capa-main {
    
    
    width: 100vw;
    
    
}
.carrossel {
    display: flex; 
    flex-direction: column;
    width: 100vw;
    
    
    
}



.container-main{
    
    
    position: relative;
    height: 100vh;
    width:100vw;
    
    
}





.info-main {
    
    position: absolute;
    bottom: 20px;
    margin: 20px;
    font-family: sans-serif;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0);
    
    
}

.info-main > h4, h1 {
    
    background-color: rgba(0, 0, 0, 0);
    
    
}

.description {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0.9rem;
}

.vivo {
    
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}





#icon-up {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
}


/*--SECTION--*/

.capa-section {
    background-color: #000000;
    height: 180vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 100px;
    

    
    

}

.info-sectionMobile {
    
    
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    gap: 30px;
    margin: 100px 20px;
    

}

.info-sectionDesktop {
    display: none;
}




#marcaDesktop {
    display: none;
}

#marcaMobile {
    display: flex;
    width: 100vw;
    
    
}

.mail {
    margin: 0px 20px;
}

.p-mail {
    font-size: 2rem;
}

/*--FOOTER--*/

.capa-footer {
    background-color: #000000;
    margin: 20px;
    
}




/*--RESPONSIVE DESKTOP--*/

@media screen and (min-width: 450px) {

    /*--HEADER--*/

    #burg {
        display: none;
    }

    #barra {
        
        align-items: center;
        z-index: 8;
    }

    #logo {
        margin: 20px 80px;
        
    }
        
        

    #itens {
        display: flex;
        flex-direction: column;
        
        width: 30%;
        height: 40px;
        
        background-color: rgba(0, 0, 0, 0);
        margin-top: 30px;
        margin-right: 80px;
        
    
        
    }
    .menu-itens {
        display: flex;
        flex-direction: row;
        margin: 0px;
        width: 100%;
        height: auto;
        justify-content: space-between;
        font-size: 0.8rem;
        z-index: 3;
        
        
        
    
    }
    .menu-itens, li, a {
        background-color: rgba(0, 0, 0, 0)
    }

    #menuTrabalho{
        display: none;
        width: 105px;
        border-radius: 5px;
        flex-direction: column;
        gap: 15px;
        font-size: 0.8rem;
        font-weight: bold;
        position: relative;
        top: 15px;
        left: -10px;
        padding: 10px;
        transition: 1s ease;
        background-color: #000;
        z-index: 2;
        
        
        
    }
    

    #close {
        display: none;
    }
    .itens-info {
        display: none;
    }
    
    .info-capa {
        
        width: 20vw;
        font-weight:100;
        font-size: 1rem; 
        
    }
    
    /*--MAIN--*/



    
    .container-main{
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 100vh;
        width:100vw;
        
        
    }
    
    

    .info-main {
        
        display: flex;
        flex-direction: column;
        width: 40vw;
        position: static;
        margin-left: 65px;
        font-family: sans-serif;
        font-size: 2.2rem;
        background-color: rgba(0, 0, 0, 0);
        
        
    }

    .info-main > h4, h1 {
        
        background-color: rgba(0, 0, 0, 0);
        
        
    }

    

    .vivo {
        
        height: 70vh;
        width: 60vw;
        
    }





    #icon-up {
        display: none;
        position: absolute;
        
    }

    /*--SECTION--*/


    .capa-section {
        background-color: #000000;
        height: 100vh;
        width: 100vw;
        gap: 0px;
        overflow: hidden;
    
    }
    
    .info-sectionMobile {
        
        
        display: none;
        
    
    }

    
    
    
    .infoCol {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 150px;
        list-style: none;
        background-color: rgba(0, 0, 0, 0);   
    }

    .infoCol > li {
        margin-top: 5px;
        
    }
    .infoCol > h3 {
        margin-bottom: 20px;
        background-color: rgba(0, 0, 0, 0); 
    }

    
    .info-sectionDesktop{
        display: flex;
        
        position: relative;
        top: 220px;
        right: -50vw;
        font-size: 0.75rem;
        gap: 35px;
        margin-left: 20px;
        background-color: rgba(0, 0, 0, 0);
        z-index: 2;
    }

    #marcaDesktop {
        
        display: block;
        position: absolute;
        bottom: -4550px;
        width: 100vw;
        height: 50%;
        z-index: 1;

        
        
    }

    .mail {
        
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 100px;
        width: 30%;
        margin-left: 50px;
        background-color: rgba(0, 0, 0, 0);
        z-index: 2;
    }


    

    #marcaMobile {
        display: none;
    }

    
    section , h5, p, strong {
        background-color: rgba(0, 0, 0, 0);
    }
    .p-mail {
        font-size: 2.6rem;
        
    }

    .capa-footer {
        display: block;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        z-index: 2;
    }
}