
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: sans-serif;
    background-color: #000000;
    
}

/*--MOBILE FIRST--*/

/*--HEADER--*/

.capa {
    
    height: 100vh ;
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

nav > a {
    background-color: rgba(0, 0, 0, 0);
    
}

#logo {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0);
    
    
}

#burg {
    margin: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

#itens {
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000000;
}
.menu-itens {
    margin: 90px 20px;
    font-size: 2.2rem;
    font-weight: bold;

}

.itens-info {
    font-size: 0.9rem;
    margin-top: 350px;
}

#itens li, a{
    
    list-style: none;
    text-decoration: none;
    
}

#close {
    margin: 20px;
    cursor: pointer;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}

.video-container video {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}  

.info-capa {
    position: absolute;
    bottom: 40px; 
    left: 20px; 
    width: 50vw;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff; 
    padding: 5px 10px;
    font-size: 14px; 
    
}
    
.info-capa > strong {
    background-color: rgba(0, 0, 0, 0);
}



/*--MAIN--*/

.capa-main {
    
    height: 100vh ;
    width: 100vw;
    
    
}

.container-main{
    display: flex;
    position: relative;
    height: 100vh;
}

.info-main {
    
    position: absolute;
    bottom: 20px;
    margin: 20px;
    font-family: sans-serif;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0);
    
    
}

.info-main > h4, h1 {
    
    background-color: rgba(0, 0, 0, 0);
    
    
}


#vivo {
    
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}





#icon-up {
    
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
}


/*--SECTION--*/

.capa-section {
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.conteiner-section {
    margin-top: 80px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    margin-left: 20px;

}

.sec-info {
    margin-top: 30px;
}

.sec-img {
    display: flex;
    
}

#ditomark {
    width: 100vw;
    height: 95%;
    
}


/*--FOOTER--*/

.capa-footer {
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteiner-footer {
    margin: 150px 20px;
}

.p-foot {
    font-size: 2rem;
}

.rodape {
    margin: 20px;
}

/*--PORTFOLIO--*/

.capa-port {
    background-color: #000000;
}

/*--RESPONSIVE DESKTOP--*/

@media screen and (min-width: 768px) {

    /*--HEADER--*/

    #burg {
        display: none;
    }

    nav {
        
        align-items: center;
    }

    #itens {
        display: block;
        width: 40%;
        height: 10px;
        
        background-color: rgba(0, 0, 0, 0);
        
        
    }
    .menu-itens {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 0.8rem;
        margin: auto 20px;
        
        
        
    
    }
    .menu-itens, li, a {
        background-color: rgba(0, 0, 0, 0)
    }



    #close {
        display: none;
    }
    .itens-info {
        display: none;
    }
    
 
    
    /*--MAIN--*/


    .capa-main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh ;
        width: 100vw;
        
        
    }

    .container-main{
        position: static;
        display: flex;
        
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
       
        width: 100vw;
    }


    .info-main {
        
        display: flex;
        flex-direction: column;
        
        position: static;
        margin-left: 65px;
        font-family: sans-serif;
        font-size: 2.2rem;
        background-color: rgba(0, 0, 0, 0);
        
        
    }

    .info-main > h4, h1 {
        
        background-color: rgba(0, 0, 0, 0);
        
        
    }


    #vivo {
        
        height: auto;
        width: 60vw;
        object-fit: cover;
    }





    #icon-up {
        display: none;
        position: absolute;
        
    }
}