* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: sans-serif;
    background-color: #000000;
}

/*--HEADER--*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    
}
nav, a{
    background-color: rgba(0, 0, 0, 0);
}

#logo {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0);
}

#burg {
    margin: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}
#itens {
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000000;
}
.menu-itens {
    margin: 90px 20px;
    font-size: 2.2rem;
    font-weight: bold;

}

.itens-info {
    font-size: 0.9rem;
    margin-top: 350px;
}

#itens li, a{
    
    list-style: none;
    text-decoration: none;
    
}

#close {
    margin: 20px;
    cursor: pointer;
}

.videos {
    width: 89vw;
    margin-top: 100px;
    
    
}

.info-port {
    margin: 20px;
}


/*--SECTION--*/

.esportes {
    width: 100vw;
}

#icon-up {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.frame {
    
    width: 89vw;
    margin-top: 15px;
    margin-left: 20px;

    
    
}



.ctt-port {
    margin: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    
    
}



/*--RESPONSIVE DESKTOP--*/

@media screen and (min-width: 768px) {

    /*--HEADER--*/

    #burg {
        display: none;
    }

    nav {
        
        align-items: center;
    }

    #itens {
        display: block;
        width: 40%;
        height: 10px;
        
        background-color: rgba(0, 0, 0, 0);
        
        
    }
    .menu-itens {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 0.8rem;
        margin: auto 20px;
        
        
        
    
    }
    .menu-itens, li, a {
        background-color: rgba(0, 0, 0, 0)
    }



    #close {
        display: none;
    }

    .videos {
        max-width: 70vw;
        margin-top: 80px;
        
        
    }

    .itens-info {
        display: none;
    }

    
    /*--SECTION--*/

    .esportes {
        
        flex-wrap: wrap;
        gap: 50px;
        
        width: 100vw;
    }

    #icon-up {
        display: none;
        visibility: hidden;
        
    }

    .frame {
        display: inline;
        max-width: 45%;
        max-height: 30%;
        margin-left: 35px;
        margin-top: 35px;
        
    
        
        
    }

    .ctt-port {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        font-size: 1.8rem;
        font-weight: bold;
        
        
    }
    

}